@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

.navbar-title::first-letter {
  color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$font-family-sans-serif: 'Space Mono', monospace;
$font-family-monospace: $font-family-sans-serif;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$enable-negative-margins: true;
    
@import "~bootstrap/scss/bootstrap";
